<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
  <head> 
  <title>Graylog2 - <%= @title %></title> 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
  <meta property="fb:admins" content="100001858438029" /> 
  <meta property="og:title" content="Graylog2 - Free open source self-hosted log management and exception tracking"/> 
  <meta property="og:image" content="http://www.graylog2.org/images/fb.jpg"/> 
  <meta property="og:type" content="non_profit"/> 
  <meta property="og:url" content="http://www.graylog2.org/"/> 
  <meta property="og:site_name" content="Graylog2.org"/> 
  <meta property="og:description" content="Graylog2 is an open source log management tool."/> 
  <link href="/stylesheets/reset.css" media="screen" rel="stylesheet" type="text/css" /> 
  <link href="/stylesheets/lightbox.css" media="screen" rel="stylesheet" type="text/css" /> 
  <link href="/stylesheets/core.css" media="screen" rel="stylesheet" type="text/css" /> 

  <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

  <script type="text/javascript" src="/javascripts/prototype.js"></script>
  <script type="text/javascript" src="/javascripts/scriptaculous.js?load=effects,builder"></script>
  <script type="text/javascript" src="/javascripts/lightbox.js"></script>

  <script type="text/javascript" src="/javascripts/jquery-1.6.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-ui-1.8.12.custom.min.js"></script>
  <script type="text/javascript">$.noConflict();</script>
  
  <script type="text/javascript" src="/javascripts/application.js"></script>

  <link  href="http://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
</head> 
<body> 

<div id="new-version">
  Ohai, Graylog2 v0.9.6 is here! Read what's new on the <a href="/ohai/0.9.6">release page</a>.
</div>

<div id="mastertop">
  <div id="top">
  
    <div id="top-title">
      <a href="/">Graylog2</a>
      <span id="top-subtitle">Open source. Log management.</span>
    </div>

    <ul id="main-menu">
      <li><%= menu_link("home") %></li>
      <li><%= menu_link("about") %></li>
      <li><%= menu_link("support") %></li>
      <li><%= menu_link("download") %></li>
      <li><%= menu_link("contact") %></li>
    </ul>
    <br style="clear: both;" />

  </div>
</div>

<div id="content-container">

  <%= yield %>

</div>

<!-- uservoice -->
<script type="text/javascript">
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/uUr4OeVh0sIWrOKbEiQuw.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
</script>

<script type="text/javascript">var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-16697378-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>

<script type="text/javascript">
var _sf_async_config={uid:30855,domain:"graylog2.org"};
(function(){
  function loadChartbeat() {
    window._sf_endpt=(new Date()).getTime();
    var e = document.createElement('script');
    e.setAttribute('language', 'javascript');
    e.setAttribute('type', 'text/javascript');
    e.setAttribute('src',
       (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
       "js/chartbeat.js");
    document.body.appendChild(e);
  }
  var oldonload = window.onload;
  window.onload = (typeof window.onload != 'function') ?
     loadChartbeat : function() { oldonload(); loadChartbeat(); };
})();

</script>

</body>
</html
